$x: 23;
$y: "23px";
$clr1: blue;
$clr2: rgb(255, 255, 0);
$clr3: hsla(187, 100%, 81%, 0.7);
$clr4: red;
$clr5: blue;
$clr6: mix($clr4, $clr5);
$clr7: scale-color(red, $lightness: +90%);
$b: true;
$c: $x > 50;

$numbers: (10 , 20 , 30 , 40);
$map: (x: 10, y: 20, z: 30);

$directions: (top, bottom, left);
$borders: (top: 10, bottom: 20, left: 30);
