
@use 'material-common' as mat-common;


@include mat-common.main();

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: var(--b-background);
  color: var(--f-text);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}